#BE
be/virtualenv/*
be/instance/*
be/migrations/*
be/migrationlocal/*
logs
myenv
migrations
instance
.env
.db
.sqlite

# Folders
mysql


#FE
dist
be/.env
fe/node_modules/*
*.pyc
node_modules
bootstrap-530



be/instance/datos.db
.db
.DS_Store
be/app/Models/DRI.py
be/migrate.ps1
*.Identifier
