body.dark-mode {
    background-color: var(--dark);
    transition: 0.2s linear all;
}

body.dark-mode #region-header a,
body.dark-mode #region-header a i {
    color: #b8c1ec !important;
}

body.dark-mode #sidebar-menu,
body.dark-mode #sidebar-menu a {
    color: #d1d7ef !important;
}

body.dark-mode #inicio,
body.dark-mode #inicio a {
    color: #23283e !important;
}

body.dark-mode .utp2 {
    color: #fff;
    font-weight: bold;
}

body.dark-mode #region-content>ul {
    background-color: #100a14;
}

body.dark-mode #region-content>ul .dropdown-item:hover,
body.dark-mode #region-content>ul .dropdown-item:active,
body.dark-mode #region-content>ul .dropdown-item:focus {
    background-color: #454750;
}


body.dark-mode #inicio {
    background-color: var(--dark);
}

body.dark-mode .card {
    background-color: var(--dark-foreground);
}

body.dark-mode .dropdown-menu {
    background-color: #333036;
    border-color: #2d2732;
}

body.dark-mode #navbarUser img.img-profile {
    filter: saturate(0) invert(1);
}

body.dark-mode .texto-utp-mute {
    color: var(--dark-text);
}

body.light-mode {
    background-color: var(--best-white);
    transition: 0.2s linear all;
}

.v-theme--dark tr td {
    color: var(--dark-text);
}

.v-theme--dark tr td button .mdi-pencil {
    color: var(--dark-text);
}